<!-- Add your site or application content here -->


<section id="banner">
				
				<!--
					".inner" is set up as an inline-block so it automatically expands
					in both directions to fit whatever's inside it. This means it won't
					automatically wrap lines, so be sure to use line breaks where
					appropriate (<br />).
				-->
				<div class="inner">
					
					<header>
						<h2>My Ribbon Diary</h2>
					</header>
					<p>Your personal customizable medical database.</p>
					<footer>
						<ul class="buttons vertical">
							<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
						</ul>
					</footer>
				
				</div>
				
			</section>
			
			
				
		<!-- Main -->
			<article id="main">

				<header class="special container">
				<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<span class="icon fa-bar-chart-o"></span>

					<h1>For anyone with an ailment, particularly those associated with a colored ribbon</h1>
				 </div>
				 </div>
				</header>
					
				<!-- Two -->
					<section class="container">
						<div class="row">
							<div class="col-md-3">
							
								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Organize</h3>
									</header>
									<p>database will be able to store pertinent information specific to the User, as well as, allow for software
storage for things like a library of terms.</p>
								</section>
							
							</div>
							<div class="col-md-3">
							
								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Journalize</h3>
									</header>
									<p>Medical logs.</p>
								</section>
							
							</div>
							<div class="col-md-3">
							
								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Research</h3>
									</header>
									<p>Provide definitions of medical terms / diagnosis. As well as possible medical avenues and options.</p>
								</section>
							
							</div>
							<div class="col-md-3">
							
								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Obtain Support</h3>
									</header>
									<p>Automatically populate financial aid forms for a convenient application process when possible. </p>
								</section>
							
							</div>
						</div>
					</section>					
					
				<!-- One -->
					<section class="wrapper style2 container special-alt">
						<div class="row">
							<div class="col-md-6 col-md-offset-2">
							
								<header>
									<h2>Behold the <strong>icons</strong> that visualize what you’re all about. or just take up space. your call bro.</h2>
								</header>
								<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu comteger ut fermentum lorem. Lorem ipsum dolor sit amet. Sed tristique purus vitae volutpat ultrices. eu elit eget commodo. Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo.</p>
								<footer>
									<ul class="buttons">
										<li><a href="#" class="button">Find Out More</a></li>
									</ul>
								</footer>
							
							</div>
							<div class="col-md-4">
							
								<ul id="features">
									<li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
									<li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
									<li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
									<li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
									<li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
									<li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
								</ul>
							
							</div>				
						</div>
					</section>
					

					

					
			</article>

		<!-- CTA -->
			<section id="cta">
			
				<header>
					<h2>Ready to do <strong>something</strong>?</h2>
					<p>Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.</p>
				</header>
				<footer>
					<ul class="buttons list-inline">
						<li><a href="#" class="buttony">See a demo</a></li>
						<li><a href="#" class="buttony">Sign Up/Log in</a></li>
					</ul>
				</footer>
			
			</section>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons list-inline">
					<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
					<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
				</ul>
				
				<ul class="copyright">
					<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Demo Images: <a href="http://md.photomerchant.net/">Michael Domaradzki</a></li>
				</ul>
			
			</footer>
			
<div class="container" ng-view="">
</div>